@use "sass:math";
$primary: #7878FF;
@import 'bootstrap/scss/bootstrap';

@function gradient-percent($i) {
  // حداکثر تغییر درصد: از 20% تا 80% مثلاً
  $min: 20%;
  $max: 80%;
  $range: $max - $min;

  @if $i <= 50 {
    @return $min + ($range * math.div($i, 50));
  } @else {
    @return $max - ($range * math.div(($i - 50), 50));
  }
}

@keyframes btn-purple {
  @for $i from 0 through 100 {
    #{$i}% {
      $percent: gradient-percent($i);
      background: linear-gradient(
        90deg,
        #9500EB #{$percent},
        rgba(149, 0, 235, 0.6) 100%
      );
    }
  }
}

@keyframes btn-sky {
  @for $i from 0 through 100 {
    #{$i}% {
      $percent: gradient-percent($i);
      background: linear-gradient(
        90deg,
        #7878FF #{$percent},
        rgba(120, 120, 255, 0.6) 100%
      );
    }
  }
}
