@font-face {
    font-family: 'Vazir';
    src:
      local('Vazir'),
      url('../public/fonts/vazir-font-v16.1.0/Vazir-Bold.woff2') format('woff2'),
      url('../public/fonts/vazir-font-v16.1.0/Vazir-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF !important;
}
*{
    font-family: 'Vazir' !important;
}

.persian-numbers {
  font-feature-settings: "ss01", "tnum";
  -moz-font-feature-settings: "ss01", "tnum";
  -webkit-font-feature-settings: "ss01", "tnum";
}
.persian-numbers input,
.persian-numbers textarea {
  font-feature-settings: "ss01", "tnum" !important;
  direction: ltr;
  text-align: left;
}