*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  height: 5000;
  position: relative;
}
.MuiInputLabel-root {
  right:30px !important;       /* فاصله از سمت راست */
  left: auto !important;        /* غیرفعال کردن left پیش‌فرض */
  top: 0 !important;
  transform-origin: top right !important; 
  direction: rtl;
}
